.container{
    max-width: 1200px;
    margin: 0 auto; 
}
.hide{
    display: none !important;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}
html, body{
    min-height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* -------------- общие стили --------------*/

.header__inner{
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
}
.header{
    background-color: #151515;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;

}
.header-main{
    background-color: transparent;
}
.menu__list{
    display: flex;
    gap: 35px;
}
/* -------------- header --------------*/

.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}
.footer__menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer__menu-list{
    max-width: 250px;
}
.footer__menu-tittle{
    font-size: 24px;
    font-weight: bold;
}
.footer_copy-tittle{
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}
.footer__menu-item + .footer__menu-item{    
    padding-top: 20px;
}

.app{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 52px;
}
.footer__copy{
    max-width: 800px;
    margin: 0 auto 30px;
    text-align: center; 
}
.copy__nav-list{
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* -------------- footer --------------*/

.main{
    flex-grow: 1;
}
.top{
    color: #fff;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 50px;
    position: absolute;
    z-index: 5;
    left: 0;
    right: 0;
    
}
.top__tittle{
    padding-bottom: 40px;
    font-size: 96px;
    font-weight: 700;
}
.top__link{
    background-color: #151515;
    padding: 23px;
    max-width: 430px;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}
.swiper-wrapper{
    background-color:rgba(21, 21, 21, .6);
}
.swiper-slide{
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.swiper-pagination-bullet{
    width: 120px;
    height: 3px;
    background-color: #151515;
    border-radius: 0;
    opacity: 1;
    margin: 0 30px;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    margin: 0 30px;

}
.swiper-pagination-bullet-active{
    height: 6px;
    background-color: #fff;
}